services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse-local
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ch_data:/var/lib/clickhouse
      - ch_logs:/var/log/clickhouse-server
      - ./users:/etc/clickhouse-server/users.d
    environment:
      - TZ=Europe/Paris
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

volumes:
  ch_data:
  ch_logs: